@charset "UTF-8";

body {
	padding-top: 70px;
}

#side {
	position: fixed;
	
}
/*more 버튼*/
.more {
	float: right;
	width: 4em;
	font-size: 0.4em;
	margin-top: 1.5em;
}

.location {
	font-size: 0.8em;
}

#map{
            height: 400px;
            width: 100%;
}


.grad-recruit {
	font-size: 1.5em;
	font-weight: bold;
}

.application-period {
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 1em;
}

.web-volunteer {
	font-size: 2em;
	width: 100%;
}

hr {
	height: 0.1em;
	background-color: grey;
}

.contents {
	padding-left: 2em;
}